
Sharekni.xcworkspace/xcshareddata/Sharekni.xccheckout

Sharekni.xcworkspace/xcuserdata/mac.xcuserdatad/UserInterfaceState.xcuserstate

*.xcscheme

Pods/Pods.xcodeproj/xcuserdata/Tefa.xcuserdatad/xcschemes/xcschememanagement.plist

Sharekni.xcodeproj/xcuserdata/Tefa.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcuserstate

*.txt

Pods/Pods.xcodeproj/xcuserdata/ahmedaskar.xcuserdatad/xcschemes/xcschememanagement.plist

Sharekni.xcworkspace/xcuserdata/ahmedaskar.xcuserdatad/UserInterfaceState.xcuserstate
